html,
#root,
.main-container {
  background-color: #2c2f33;
  color: white;
}

.main-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 20vh;
}

.items {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mute-button {
  align-self: flex-start;
  margin-left: 20px;
}

code {
  margin-top: 5px;
}
